@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #d2dbdd;
    /* background-color: crimson; */
}
.header{
  padding: 30px 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 600;
  /* color: crimson; */
  color: rgb(39, 146, 85);
  background-color: #fff;
  font-size: 1.5rem;
  margin-bottom: 30px;
}
footer{
  padding: 20px 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  /* text-transform: uppercase; */
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 700;
  color: seagreen;
  background-color: rgba(255, 255, 255, 0.931);
  

}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: center;
}
  
  .card {
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: 300px 80px 90px;
    grid-template-areas: "image" "text" "stats";
    font-family: 'Poppins', sans-serif;
    border-radius: 18px;
    background: rgb(235, 234, 234);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
    margin: 50px 50px;
    
    transform: scale(.99);
    position: relative;
    z-index: 0;
  }
  .card:hover{
    /* box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.2), -5px -5px 30px 7px rgba(0,0,0,0.2); */
      /* box-shadow: 2px 2px 15px 3px rgba(253, 253, 253, 0.966); */
      transform: scale(1.05,1.05);
  }

  .card img{
    width: 100%;
    height: 300px;
    border-radius: 20px;
    background-size: cover;
    object-fit: fill;
  }

  .card_info{
    text-align: center;
    border-radius: 0px 0px 20px 20px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    /* margin-top: -20px; */
    height: 40px; 
  }
  .card_category{
      font-size: 15px;
      font-family: 'Lora', serif;
      font-weight: 400;
  }
  .card_title{
      font-size: 20px;
      font-family: 'Lora', serif;
  }
  button{
    cursor: pointer;
    display: block;
    width: 200px;
    height: 50px;
    line-height: 4px;
    text-decoration: none;
    text-align: center;
    /* border-radius: 50px; */
    border: 2px solid seagreen;
    color: seagreen;
    font-size: 16px;
    font-family: arial;
    position: relative;
    overflow: hidden;
    background: transparent;
    text-transform: uppercase;
    transition: all .35s;
    margin-top: 0px;
    margin-left: 25px;
  }
  
  button:before,
  button:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background: seagreen;
    z-index: -1;
    transition: all .35s;
  }
  
  button:before{
    opacity: .5;
  }
  
  button:after{
    transition-delay: .2s;
  }
  
  button:hover{
    color: #fff;
  }
  
  button:hover:before,
  button:hover:after{
    top: 0;
   }
   a{
     text-decoration: none;
     cursor: pointer;
     color: seagreen;
   }
   a:hover{
     color: blueviolet;
   }
  /*button{
      cursor: pointer;
      padding: 10px;
      border: 2px solid black;
      width: 200px;
      font-family: 'BioRhyme', serif;
      font-weight: 900;
  }
  button:hover{
    background-color: rgb(241, 6, 6);
    color: yellow;
    background-size: 200%;
    transition: 0.3s cubic-bezier(.47, .1, 1, .63),
      color .2s linear;
    transition-delay: 0.0s, 0.15s;
  } */